[Desktop Entry]
Encoding=UTF-8
Name=Bitcedi Wallet
Comment=Bitcedi wallet
Exec=bitcediwallet
Terminal=false
Type=Application
Icon=bitcedi
MimeType=x-scheme-handler/bitcediwallet;
Categories=Office;Finance;
